.avatarCircleIcon {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
}
.nickName {
  position: relative;
  line-height: 18px;
  text-transform: lowercase;
  font-weight: 600;
}
.userName,
.userName1 {
  display: flex;
  margin: 5px 10px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.userName {
  position: absolute;
  top: 0;
  left: 42px;
  flex-direction: column;
}
.iconsmore {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon, .moreOptions {
  display: flex;
  margin: 4px auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.moreOptions {
  position: absolute;
  top: 0;
  right: 0;
}
.header1 {
  width: 596px;
  margin: 10px auto;
  position: relative;
  height: 40px;
}
.headerWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 var(--padding-4xs) var(--padding-base);
}
.header {
  width: 614px;
  position: relative;
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 60px;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
}
.div,
.icon1,
.postImg {
  width: 700px;
  height: 700px;
}
.icon1 {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.postImg {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
}
.border1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--border-color);
}
.border {
  top: 0;
  width: 1px;
  height: 205px;
}
.border,
.con {
  position: absolute;
  left: 0;
}
.con,
.con1,
.con2 {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.con1 {
  position: absolute;
  left: 60px;
}
.con2 {
  left: 120px;
}
.con2,
.con3,
.iconLeft {
  position: absolute;
}
.iconLeft {
  margin: 20px auto 10px;
  width: 120px;
  height: 40px;
}
.con3 {
  background-color: black;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconRight {
  position: absolute;
  top: 6px;
  right: 16px;
  width: 32px;
  height: 40px;
  display: none;
}
.icons {
  position: absolute;
  top: 0;
  width: 612px;
}
.likes1 {
  width: 35px;
  left: 5px;
  position: relative;
  line-height: 18px;
  text-transform: lowercase;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.likes {
  position: absolute;
  top: 54px;
  width: 612px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.hourAgo {
position: relative;
letter-spacing: 0.2px;
line-height: 39px;
text-transform: uppercase;
}
.time,
.time1 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.time1 {
align-self: stretch;
flex-direction: row;
}
.time {
position: absolute;
top: 0;
left: 120px;
width: 612px;
flex-direction: column;
box-sizing: border-box;
color: gray;
}
.border3 {
height: 100%;
width: 100%;
right: 0;
bottom: 0;
}
.border2,
.border3,
.icon2 {
position: absolute;
top: 0;
left: 0;
}
.border2 {
width: 612px;
height: 1px;
}
.icon2 {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
}

.add {
position: absolute;
top: 0;
left: 40px;
display: flex;
padding: 5px;
}

.newComment{
    color: white;
    padding-right: 50%;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: transparent;
}
.addComment{
  color: white;
  padding: 0px 70px;
  border-radius: 20px 20px 0px 0px;
  border: none;
  border-bottom: 2px solid rgb(214, 205, 205);
  outline: none;
  font-size: 10px;
  background-color: transparent;
}
.post1 {
position: relative;
bottom: 10px;
width: 80px;
line-height: 30px;
text-transform: capitalize;
font-weight: 600;
}
.post1:hover{
  color: red;
}
.postBtn {
position: absolute;
top: 0;
right: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
opacity: 0.3;
}
.iconParent {
align-self: stretch;
border-bottom: 1px solid white;
position: relative;
height: 30px;
}
.addcomment1 {
position: absolute;
top: 1px;
left: 0;
width: 612px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
box-sizing: border-box;
}
.addcomment,
.border4,
.border6 {
position: absolute;
top: 53px;
left: 0;
width: 612px;
height: 1px;
}
.addcomment,
.border6 {
top: 140px;
height: 54px;
}
.border6 {
top: 0;
left: 613px;
width: 1px;
height: 205px;
}
.nickName1 {
position: relative;
line-height: 18px;
font-weight: 600;
}
.userName2 {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
}
.imperdietInSit {
position: absolute;
top: 0;
right:0;
line-height: 16px;
}
.userComment1 {
width: 453px;
position: relative;
height: 18px;
overflow: hidden;
flex-shrink: 0;
}
.userNameParent {
flex: 1;
overflow: hidden;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: 0 7px;
}
.more1 {
background-color: transparent;
} 
.more {
width: 42px;
color: gray;
position: relative;
height: 18px;
}
.frameParent {
position: absolute;
top: 5px;
left: 0;
width: 565px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
}
.userComment {
width: 582px;
position: relative;
height: 30px;
overflow: hidden;
flex-shrink: 0;
}
.comment,
.commentHeader {
display: flex;
align-items: flex-start;
justify-content: flex-start;
box-sizing: border-box;
}
.commentHeader {
width: 582px;
flex-direction: row;
color: gray;
font-weight: 600;
}
.comment {
position: absolute;
top: 72px;
width: 612px;
overflow: hidden;
flex-direction: column;
}
.footer {
width: 614px;
position: relative;
height: 205px;
}
.post {
display: flex;
width: 700px;
margin: 20px auto 30px;
flex-direction: column;
border-radius: 20px       ;
align-items:center;
color: white;
background-color: rgb(58, 37, 37);
}