*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.interface {
    width: 100%;
}
.profile {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 7%;
    background-color:rgb(0, 0, 0);
    color: white;
    padding: 0px 10px;
    position: relative;
}

.profile-border {
    display: flex;
    align-items: center;
}