*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface {
    width: 100%;
}

.mess {
    width: 100%;
    height: 84.9vh; 
    display: grid;
    column-gap: 20px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    position: relative;
    overflow: auto; 
}

