*{
    margin: 0;
    padding: 0;
}

.logo{
    padding: 20px 30px 0px 30px;
    margin-right: 700px;
    margin-top: 120px;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url('../../public/img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container-form{
    width:450px;
    height: 530px;
    padding: 20px 30px 0px 30px;
    position: absolute;
    margin-left: 800px;
    margin-top: -500px;
}
.container-form h1{
    font-weight: 500;
    background: linear-gradient(107deg, rgb(5, 0, 146) 11.1%, rgb(233, 0, 144) 95.3%);
    color:rgba(0, 0, 0, 0);
    -webkit-background-clip:text; 
    background-clip:text; 
}
.container-form p{
   color: grey;
   font-size: 16px;
   margin-top: 15px;
}

.inputBox input{
    background-color: white;
    border-radius: 20px;
    position: relative;
    margin-top: 40px;
    width: 75%;
    height: 55px;
    padding: 0px 45px;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none; 
    border-bottom: none;
}
.fullName,.phone,.mail,.password{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%,-50%);
    font-size: 23px;
    color: rgb(255, 255, 255);
}
.divBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.loginBtn{
    color: #fff;
    padding: 15px 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(107deg, rgb(5, 0, 146) 11.1%, rgb(233, 0, 144) 95.3%);
    cursor: pointer;
}
.forgotPassword {
    color: blue;
    font-size: 14px;
    cursor: pointer;
}
.dont{
    text-align: center;
    margin-top: 40px;
}
.dont p{
    font-size: 15px;
}

@media screen and (max-width:430px){
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background:none;
    }
    .container-form{
        background:none;
        width:600px;
        min-height: 430px;
        border-radius: 10px;
        padding: 20px 30px 0px 30px;
        box-shadow:none;
    }
    .inputBox input{
        padding: 5px 35px;
    }
}
@media screen and (max-width:1024px){
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
    }
}