.border {
    background: linear-gradient(135deg, #6a0728, #662a38, #4d3275);
    height: 460px;
    padding:10px 10px 150px 10px;
    margin: 20px 0px;
    border-radius: 20px;
    position: sticky;
    top: 110px;
}