.right-side {
    height: 460px;
    padding:10px 10px 150px 10px;
    margin: 20px 0px;
    border-radius: 20px;
    position: sticky;
    top: 130px;

}
.following-suggest {
    height: 260px;
    width: 390px;
    padding:10px 10px 150px 10px;
    margin: 20px 0px;
    box-sizing: border-box;
    top: 110px;
    z-index: 1;
    border-bottom: 1px solid white;
}

.following-suggest::after{
    content: "";
    display: block;
    height: 260px;
}

.define {
    color: white;
    display: flex;
    height: 40px;
}
.suggest-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 4px;
}
.info {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}
.info span {
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.info img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}
.btn {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.btn button {
    padding: 5px 10px;
    background: linear-gradient(135deg, #6a0728, #662a38, #4d3275);
    border-radius: 5px;
    font-size: 13px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.btn button:hover {
    border: 2px solid orangered;
    background-color: transparent;
}
.following-list {
}