.admin-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Đảm bảo các phần tử nằm ở giữa theo chiều dọc */
  }
  
  .avatar-container {
    margin-bottom: 20px; /* Khoảng cách giữa avatar và các thuộc tính khác */
  }
  
  .info-item {
    display: flex;
    align-items: center; /* Đảm bảo các phần tử nằm ở giữa theo chiều ngang */
  }
  
  .info-item label {
    font-weight: bold;
    margin-right: 10px;
  }
  