.logo {
    width: 150px; 
    height: auto; 
}

.login-container {
    background: linear-gradient(135deg, #72213c, #814150, #624889);
}

.login-card {
    width: 100%;
    padding: 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-title {
    text-align: center;
}

.login-form-button {
    width: 100%;
    background: linear-gradient(135deg, #6a0728, #662a38, #4d3275);
    border: none; 
}

.login-form-button:hover {
    background: linear-gradient(135deg, #6a0728, #662a38, #4d3275); 
    background-color: purple; 
    border-color: purple; 
}
