nav {
    width: 100%;
    background: linear-gradient(135deg, #6a0728, #662a38, #4d3275);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.img-navbar{
    height: 70px;
    width: 70px;
}
.logo {
    color: snow ;
    text-decoration: none ;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.n-form-button{
    width: 40%;
    display: flex;
    align-items: center;
    
}
.n-form{
    position: relative;
    width: 100%;
    flex: 1;
}

.search-icon{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

#n-search{
    width: 95%;
    height: 45px;
    outline: none;
    font-size: 19px;
    padding: 5px 55px;
    border-radius: 30px;
    border: none;
    background-color: #e2c8c8;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.social-icons .nav-icons{
    font-size: 30px;
    margin: 0px 20px;
}

.social-icons .nav-icons:hover{
    transform: scale(1.2);
    transition: .3s;
}

.home-icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.noti-icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}

.user-profile{
    margin-right: 50px;
}
