.interface {
    width: 100%;
}
.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1.2fr;
    column-gap: 20px;
    background-color:rgb(0, 0, 0);
    padding: 0px 10px;
    position: relative;
}